{% extends 'base.html.twig' %}


{% block body %}
    
    <h2>{{ 'label.forgot_password' | trans }}</h2>

    {% form_theme form 'bootstrap_3_layout.html.twig' %}

    {{ form_start(form) }}
       

        {{ form_rest(form) }} 
        <p class="row text-center">
            <button type="submit" class="btn">{{ 'label.request' | trans }}</button>
        </p>
    {{ form_end(form) }}
    
{% endblock %}    
