{% extends 'base.html.twig' %}


{% block body %}
    
    <h2>{{ 'Reinitialisation de mot de passe' | trans }}</h2>

    {% form_theme form 'bootstrap_3_layout.html.twig' %}

    {{ form_start(form) }}
        {{ form_rest(form) }} 
        {{ form_row(form.plainPassword,{'attr':{'placeholder':"Entrez votre mot de passe",'class':"form-control mb-4" }}) }}
        <button type="submit" class="btn">{{ 'Valider mon mot de passe' | trans }}</button>
        
    {{ form_end(form) }}
    
{% endblock %}    

